/* CSS declarations go here */
#canv {
	height: 321px;
	width: 321px;
}
#status {
	width: 400px;
	float: left;
}
#first {
	text-align: center;
	width: 200px;
	float: left;
}
#second {
	text-align: center;
	width: 200px;
	float: left;
}
.do_move {
	color: red;
}
.wait_move {
	color: black;
}
